/*********  About Page  **********/

//all img tags already have max-width: 100%!!

#about{ //page container
	position: relative; //so absolutely-positioned children will reference this as context
	width: 100%;
	margin-bottom: 0;
	overflow: hidden;
}

#about .titleWrap {
	height: 10rem;
	padding-top: 10rem;
	margin-top: 5rem; 
	margin-bottom: 0;
}

#about .fixed{
	position: fixed;
	top: -5rem; 
	left: 0;
	z-index: -10;
	opacity: 0;

	@media screen and (max-width: 600px) and (max-height: 650px){
		top: 0;
	}
}

#about .group {
	width: 80%;
}

.caption, #headshot{ //floated elements
	width: 30%;
	margin: 5%;
	float: left;
}

.caption {
	width: 50%;
	margin: 5%;
}

#headshot img {
	display: block;
	max-width: 80%;
	margin-left: 40%;
	border-radius: 50%;
    box-shadow:
    0 0 0 3px rgba(255, 255, 255, .3),
    0 0 0 7px rgba(255, 255, 255, .2);
	-webkit-filter: grayscale(0.3);
}



.overlay{
	position: absolute;
	padding-top: 20rem;
	z-index: 10;
	height: 100%; //is this doing anything?  doesn't look like it...
	width: 100%;
	background: url('../images/detail/windowWide.svg') 0 0 / 100% no-repeat;
	background-size: cover;

	// @media screen and (max-width: 950px) and (min-width: 600px){
	// 	background-size: contain;
	// }


	@media screen and (max-width: 800px) and (max-height: 800px){
		background: url('../images/detail/windowTall.svg') 0 0 / 100% no-repeat;
		background-size: cover;
	}

	@media screen and (orientation: portrait){
		background: url('../images/detail/windowTall.svg') 0 0 / 100% no-repeat;
		background-size: cover;
	}

	@media screen and (max-width: 600px) and (max-height: 650px){
		display: none;
	}
}

@media screen and (max-width: 768px) and (min-width: 600px){
	#about .titleWrap{
		padding-top: 15rem;
	}
}

@media screen and (max-width: 600px) and (orientation: landscape){
	#headshot{
		width: 40%;
		padding: 0;
		margin-left: -4rem;
		margin-top: 3rem;
	}

	.caption{
		float: right;
	}

	#about{
		background-color: black;
	}
	#about .fixed {
		z-index: 10;
		position: relative;
	}

	#about .overlay{
		display: none;
	}

	#about .group{
		width: 90%;
		margin: 0 auto;
	}
}

@media screen and (max-width: 600px) and (orientation: portrait){
	#about{
		background-color: black;
	}

	#about .group{
		width: 90%;
		margin: 0 auto;
	}
	#headshot, div.caption {
		width: 90%;
		margin: 0 auto;
		float: none;
	}
	#headshot{
		width: 70%;
		margin-left: -1.5rem;
		margin-bottom: 2rem;
	}
	#about .overlay{
		display: none;
	}

	#about .fixed {
		z-index: 10;
		position: relative;
	}
}

#about{
	height: 55rem;
	
	// @media screen and (max-width: 1024px) and (min-width: 768px) and (orientation: landscape){
	// 	height: 45rem;
	// }
	@media screen and (max-width: 768px){
		height: 60rem;
		// margin-bottom: 0;
	}

	@media screen and (max-width: 480px){
		.titleWrap{
			padding-top: 10rem;
		}
	}

	@media screen and (max-width: 480px) and (orientation: landscape){
		height: 40rem;
	}
	@media screen and (max-width: 320px) and (orientation: portrait){
		height: 40rem;
	}

}
