
/*********  contact Page  **********/


#contact{
	background-color: black;
	padding-bottom: 10rem;
	height: 50rem;
}

#contact .titleWrap {
	padding-top: 8rem; //adjust for nav hooks
	margin-bottom: 4rem;
}

#contactDetails{
	width: 80%;
	margin: 0 auto;
	text-align: center;
}

#contactDetails a{
	display: inline-block;
	width: 15%;
}

#contactDetails img {
	max-width: 90%;
	padding: 5%;
}

#socialDetails {
	width: 30%;
	min-height: 1.5rem;
	margin: 1rem auto;
	text-align: center;
}



/********** page source  ************/

#pageSource.sourceCode{
	width: 100%;
	margin: 0 auto;
	text-align: center;
	line-height: 3rem;
}

#contact #pageSource a{
	margin-left: -2rem;
	@media screen and (max-width: 768px){
		margin-left: -2rem;
	}
}

@media screen and (max-width: 768px) and (orientation: landscape){
	#contact {
		height: 40rem;
	}

	#contact .titleWrap {
		padding-top: 4rem;
	}

}

@media screen and (max-width: 480px){
	#contact {

	}
	#contactDetails a{
		display: inline-block;
		width: 25%;
	}
}