nav{
	width: 100%;
	position: fixed;
	background-color: black;
	z-index: 10;

	li {
		display: inline-block;
		float: left;
		
		text-align: center;
		width: 14%;
		margin: 0 3%;
	}

	a{
		display: inline-block;
		padding: 1rem;
	}
} 

#mobileNav {
	position: static;
	height: 35rem;
	padding-top: 3rem; //to off-set width taken up by fixed-top-nav when hamburger is clicked
	margin: 0 0 0 0;

	 li {
	 	width: 100%;
	 	height: 5rem;
	 }

	 a{
	 	z-index: 50;
	 }

}

#mobileNav, #hamburger { 
	display: none;
}


//tab portrait and smaller
@media screen and (max-width: 768px) and (min-width: 200px){
	nav.webNav {

		&.webNav{
			margin-top: -0.5rem;
		}

		li{
			display: none;
			height: 2rem;
			width: auto;
			margin: 0 -1rem 0 -1rem;
		}

		li#hamburger{
			float: right;
			display: block;
			height: 4.8rem;
			padding-top: 0;
			text-align: center;
		}

		a:hover{
			background-color: rgba(0, 0, 0, 0);
		}

		a{
			width: 100%;
			height: 100%;
		}

		.svgContainer {
			max-width: 70%;
		}


	}

	#mobileNav, #hamburger {
		display: block;
	}
}

@media screen and (max-width: 768px) and (min-width: 480px) and (orientation: portrait){
	#mobileNav{
		padding-bottom: 50rem;
	}
}

//phone landscape
@media screen and (max-width: 480px) and (min-width: 100px){

	nav.webNav {
		// height: 3rem;
		background-color: rgba(0, 0, 0, 0);
	}

	.svgContainer {
		max-width: 60%;
	}

	#nameContainer {
		top: 26%;
		margin-left: 3%;
	}
}

@media screen and (max-width: 480px) and (min-width: 100px) and (orientation: landscape){

	#mobileNav li{
		height: 3.2rem;	
	}

}

//Phone portrait
@media screen and (max-width: 320px) and (min-width: 100px){

	.svgContainer {
		max-width: 50%;
	}

	#nameContainer {
		top: 36%;
		margin-left: 10%;
	}

	li#hamburger{
		margin-right: -1.5rem;
		margin-top: 0;
	}
}