/*********  Projects Page  **********/

#projects {
	width: 100%;
	background-color: black;
	//to patch between background-transparent sections and this one
	padding-bottom: 40rem;
	z-index: 15; //to make sure links are clickable if div.overlay is too big on user's window
}

#projects .titleWrap{
	padding-top: 8rem; //to adjust for nav links
	padding-bottom: 4rem;
}

#projects h4 {
	margin-left: -3%; //don't know where this margin comes from.  it's not showing up in devTools...
}

#projectDetails{
	width: 70%;
	margin: 0 auto;
}

.projectWrap {
	margin-bottom: 3rem;
}


.projectWrap a {
	text-decoration: underline;
	display: block;
	width: 100%;
	color: white;
}


//Source code link + github logo

// .sourceCode {
// 	position: relative; //so before pseudo-class will use this as context
// }

.sourceCode a{
	margin: -4rem 0 0 -5%;
	width: 100%;
	color: white;

	@media screen and (max-width: 900px){
		margin: -4rem 0 0 3%;
	}
	@media screen and (max-width: 768px){
		margin: -4rem 0 0 10%;
	}
	@media screen and (max-width: 400px){
		margin: -4rem 0 0 -4rem;
		width: 120%;
	}
}

.sourceCode a:before {
	content: url("../images/social_icons/githubSm.svg");
	display: inline;
	position: relative;
	top: 2.8rem;
	left: 1.5rem
}

@media screen and (max-width: 768px) and (orientation: landscape){
	#projects{	

		.projectWrap img{
			margin-top: 5rem;
			margin-left: 5%;
		}

		.largeColumn {
			width: 55%;
		}

		.sourceCode a {
			margin-left: -3rem;
		}
	}

	#projectDetails {
		width: 100%;
	}
}


//tab portrait and smaller
@media screen and (max-width: 768px) and (min-width: 480px) and (orientation: portrait){
	#projects{
		height: 50rem;

		#projectDetails{
			width: 100%;
		}
	}
}

@media screen and (max-width: 480px) and (orientation: portrait){
	#projects{
		.smallColumn, .largeColumn{
			float: none;
			width: 100%;
		}
		.smallColumn{
			width: 50%;
		}
		img.smallColumn{
			margin: 0 12%;
			width: 65%;
		}
		h4{
			text-align: center;
		}
		p{
			padding-left: 5%;
		}
	}
}

@media screen and (max-width: 600px) and (orientation: landscape){
	#projects{	
		margin-top: 0;
	}
}

#projects{
	height: 130rem;

	@media screen and (min-width: 1100px){
		margin: 0 auto;
	}

	//tab landscape
	@media screen and (max-width: 1024px) and (min-width: 768px) and (orientation: landscape){
		height: 130rem;
	 }

	//tab portrait
	@media screen and (max-width: 768px) and (min-width: 480px) and (orientation: portrait){
		height: 130rem;
	 }

	 @media screen and (max-width: 768px) and (orientation: landscape){
	 	height: 120rem;
	 }

	//phone portrait
	@media screen and (max-width: 480px) and (orientation: portrait){
		height: 150rem;
		.titleWrap{
			margin-top: 10rem;
		}
	 }


}



