/*********  Skills Page  **********/
@import "skillVals";

#skills{
	width: 70%;
	height: 80rem;
	.halfColumn{
		margin: 0 2%;
	}
	overflow: hidden;
}

#skills .titleWrap{
	margin-top: 0;
	padding-top: 4rem;
}

.full, .empty{
	float: left;
	height: 1rem;
	width: 50%;
	background-color: rgba(255, 255, 255, 1);
}
.empty {
	background-color: rgba(255, 255, 255, .5);
}

//for "coming soon" text in progress Bars
.empty p{
	font-size: .8rem;
	line-height: 1rem;
	text-align: center;
	width: 100%;
}

#skillHighlights{
	width: 80%;
	margin: 0 auto;
	background-color: rgba(255, 255, 255, .11);
	border-radius: 50px;
}

.moreSkills{
	width: 90%;
	margin: 0 auto;	
	border-top: 3px solid white;
	margin-top: 2rem;
}


.skillWrapper {
	width: 100%;
}

.skillWrapper > p {
	margin-top: 1rem;
	min-width: 30%;
}

.skillWrapper > img{

	max-width: 25%;
	margin-right: 5%;
}

.skillBar img {
	max-width: 14%;
}

.moreSkills {
	.skillBar {
		width: 100%;
		padding-left: 2rem;
	}
}

#skillHighlights{
	.skillWrapper{
		margin-top: 1.5rem;
	}

	.skillWrapper > img, .skillBar{
		float: left;
	}
	.skillBar{
		margin-top: 1rem;
		width: 70%;
	}
	.halfColumn:nth-of-type(2){
		float: right;
	}

}

//tab portrait and below
@media screen and (max-width: 768px){
	#skillDetails{
		padding: 0 5% 0 5%;
		width: 100%;
	}

	#skills {
		width: 100%;
	}

	.halfColumn{
		width: 45%;
	}

	.titleWrap{
		margin-bottom: 2rem;
	}

	#skillHighlights {
		width: 90%;
	}

	#skillHighlights .skillBar {
		width: 70%;
	}

	#skillHighlights img{
		width: 20%;
	}

}




//phone portrait and below
@media screen and (max-width: 480px)/* and (orientation: portrait)*/{
	#skills{
		height: 90rem;
		margin-top: 5rem;
	}

	#skillDetails{
		.halfColumn{
			width: 100%;
			margin: 0 auto;
			float: none;
		}

		.moreSkills{
			width: 100%;
		}
	}

	#skillHighlights{
		background-color: rgba(255, 255, 255, 0);
		border-radius: 0;
	}
}

#skills {


	@media screen and (max-width: 480px) and (orientation: landscape){
		height: 650vh;
	}
	@media screen and (max-width: 480px) and (orientation: portrait){
		height: 360vh;
	}
}


//Background

#archBG{
	width: 100%;

	//large width
	@media screen and (min-width: 1200px){
	background: url('../images/archParallax/arch.svg') center -3rem / 120% no-repeat,
	url('../images/archParallax/doublePlant.svg') 0 -15rem / 100% no-repeat,
	url('../images/archParallax/groundPlants.svg') -10rem 60rem / 130% no-repeat;
	}

	//medium width
	@media screen and (max-width: 1200px) and (min-width: 480px){
	background: url('../images/archParallax/arch.svg') center -5rem / 150% no-repeat,
	url('../images/archParallax/doublePlant.svg') -4rem -20rem / 110% no-repeat,
	url('../images/archParallax/groundPlants.svg') -10rem 60rem / 130% no-repeat;
	 }	

	//tab portrait
	@media screen and (max-width: 768px){
		background: url('../images/archParallax/arch.svg') center -5rem / 150% no-repeat,
		url('../images/archParallax/doublePlant.svg') -4rem -20rem / 110% no-repeat,
		url('../images/archParallax/groundPlants.svg') -10rem 60rem / 130% no-repeat;
	}
	//phone landscape;
	@media screen and (max-width: 480px) and (orientation: landscape){
		background: url('../images/archParallax/groundPlants.svg') -3rem 500vh / 140% no-repeat;
	}

	//phone portrait
	@media screen and (max-width: 480px)and (orientation: portrait){
		background: url('../images/archParallax/groundPlants.svg') -3rem 310vh / 140% no-repeat;
	}

	//phone landscape (device only)
	@media screen and (max-device-width: 480px) and (orientation: landscape){
		background: url('../images/archParallax/groundPlants.svg') -3rem 500vh / 140% no-repeat,
					url('../images/parallax/starField.svg') 0 0 / 60% fixed repeat-x,
					linear-gradient(to top, rgba(130,130,170,1) 0%,rgba(0,30,120,1) 100%) 0 0 / 100% 100% fixed no-repeat,
					#001e78; //because bg in mobile doesn't stretch whole way down
	}

	//phone portrait (device only)
	@media screen and (max-device-width: 480px) and (orientation: portrait){
		background: url('../images/archParallax/groundPlants.svg') -3rem 310vh / 140% no-repeat,
					url('../images/parallax/starField.svg') 0 0 / 60% fixed repeat-x,
					linear-gradient(to top, rgba(130,130,170,1) 0%,rgba(0,30,120,1) 100%) 0 0 / 100% 100% fixed no-repeat,
					#001e78; //because bg in mobile doesn't stretch whole way down
	}


}

#skills {
	@media screen and (max-width: 480px) and (orientation: portrait){
		width: 100%;
	}
}


