
 $wordpress: 5%;
 $frameworks: 40%;
 $node: 5%;
 $angular: 5%;
 $grunt: 5%;
 $hybridApps: 5%;
 $java: 10%;
 $photoshop: 80%;
 $illustrator: 80%;
 $flash: 80%;
 $vectorIllustration: 70%;
 $animation: 70%;
 $commandLine: 60%;
 $phpMySql: 5%;


//widths of individual skills
#wordpress{
	.full{
		width: $wordpress;
	}	
	.empty{
		width: 100% - $wordpress;
	}
}

#frameworks{
	.full{
		width: $frameworks;
	}	
	.empty{
		width: 100% - $frameworks;
	}
}

#node{
	.full{
		width: $node;
	}	
	.empty{
		width: 100% - $node;
	}
}

#angular{
	.full{
		width: $angular;
	}	
	.empty{
		width: 100% - $angular;
	}
}

#grunt{
	.full{
		width: $grunt;
	}	
	.empty{
		width: 100% - $grunt;
	}
}

#hybridApps{
	.full{
		width: $hybridApps;
	}	
	.empty{
		width: 100% - $hybridApps;
	}
}

#java{
	.full{
		width: $java;
	}	
	.empty{
		width: 100% - $java;
	}
}

#photoshop{
	.full{
		width: $photoshop;
	}	
	.empty{
		width: 100% - $photoshop;
	}
}

#illustrator{
	.full{
		width: $illustrator;
	}	
	.empty{
		width: 100% - $illustrator;
	}
}

#flash{
	.full{
		width: $flash;
	}	
	.empty{
		width: 100% - $flash;
	}
}

#vectorIllustration{
	.full{
		width: $vectorIllustration;
	}	
	.empty{
		width: 100% - $vectorIllustration;
	}
}

#animation{
	.full{
		width: $animation;
	}	
	.empty{
		width: 100% - $animation;
	}
}

#commandLine{
	.full{
		width: $commandLine;
	}	
	.empty{
		width: 100% - $commandLine;
	}
}

#phpMySql{
	.full{
		width: $phpMySql;
	}	
	.empty{
		width: 100% - $phpMySql;
	}
}
