/*********  Used-in-lots-of-places-stuff  **********/

#about, #skills, #projects, #contact {
	margin: 0 auto;
}



//z-index setup: 10 is highest level, 0 is lowest, 5 is in-between
//body positioned relative so all children will carry 10 as z-index
*{
	position: relative;
}

#skyBG, #mountainsBG{
	z-index: 1;
}

//Title details 

.titleWrap{
	width: 60%;
	margin: 0 auto 6rem auto;
}

.titleWrap .angle, .titleWrap h3{
	float: left;
	width: 20%;
}

.titleWrap h3 {
	text-align: center;
	width: 50%;
	margin: 1rem 5% 0 5%;
}

div.angle {
	height: 5rem;
}

//tab portrait and smaller
@media screen and (max-width: 500px){
	div div.titleWrap{
		width: 100%;
		margin: 0 auto;
	}
	div.angle {
		height: 8rem;
	}	
}




