

body, h1{
	font-family: "Droid Sans", sans-serif;
	color: white;
	font-size: 1rem;
	line-height: 1.5rem;
}
p{
	margin-bottom: .5rem;
}


h1 { //Name
	font-size: 4rem; 
	line-height: 4.2rem;
}

#nameContainer h2{
	text-align: right;
}

h2, h3{ //Tagline, Page Titles
	font-family: "Calligraffitti", serif;
	font-size: 1.8rem;
	line-height: 2.4rem;
}

h3 {//page titles
	font-size: 3rem;
}

h4{ //subheading titles
	font-size: 1.5rem;
	line-height: 2.5rem;
}

nav {
	font-size: 1.3rem;

	a{
		color: white;
		text-decoration: none;
	}

	a:hover{
		color: black;
		background-color: white;
		font-weight: normal;
	}
}


a:hover{
	font-weight: bolder;
}

//header links

h4 a {
	text-decoration: none;
}

a:visited {
	color: white;
}
//tab
@media screen and (max-width: 900px) and (min-width: 480px){
	.titleWrap .angle {
		height: 5rem;
	}

	.titleWrap{
		width: 100%;
	}

	.titleWrap h3{
		font-size: 2.5rem;
	}

	h1 {
		font-size: 3rem; 
		line-height: 3.4rem;
	}

	h2 {
		font-size: 1.4rem;
		line-height: 2rem;
	}
}

//phone landscape and smaller
@media screen and (max-width: 480px){
	.titleWrap .angle {
		height: 5rem;
	}
	.titleWrap h3{
		font-size: 2rem;
	}
	#nameContainer{
		width: 70%;
	}
	body{
		font-size: .8rem;
		line-height: 1.2rem;
	}	
	h1 {
		font-size: 2rem; 
		line-height: 2.3rem;
	}
	h2 {
		font-size: 1.2rem;
		line-height: 1.5rem;
		min-width: 90%;
	}
}
